.plot {
  margin-bottom: 15px;
}

.navbar-fixed {
  margin-bottom: 15px;
}

.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
